* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(#615dad, #ffc8da);
  background-attachment: fixed;
  color: white;
  font-size: 15px;
  font-family: sans-serif;
  line-height: 25px;
  margin: 0;
}

.card {
  text-align: center;
  max-width: 20rem;
  margin: 2rem auto;
}

.card__img {
  background-image: url('uvodni.jpg');
  background-size: cover;
  background-position: center;
  height: 13rem;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.card__text {
  background-color: #283e50;
  padding: 1rem;
}

.rules {
  text-align: left;
}

.rules li {
  margin-bottom: 0.5rem;
}

h1 {
  font-family: 'Lobster', 'cursive';
  font-size: 50px;
  font-weight: 100;
}

.card__button {
  padding: 1rem;
  cursor: pointer;
}

.card__button a {
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.card__button--rules {
  background-color: #1fcca4;
}

.card__button--rules:hover {
  background-color: #1cbb96;
}

.card__button--play {
  border-top: 1px solid black;
  background-color: #0197f6;
}

.card__button--play:hover {
  background-color: #0090e9;
}

.instructions__image {
  max-width: 100%;
}
