:root {
  --green-color: #1fcca4;
  --gren-color-hover: #1cbb96;
  --blue-color: #0197f6;
  --blue-color-hover: #0090e9;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(#615dad, #ffc8da);
  background-attachment: fixed;
  margin: 0;
  color: white;
  font-size: 15px;
  font-family: sans-serif;
  line-height: 25px;
}

main {
  text-align: center;
  max-width: 22rem;
  margin: 1.4rem auto;
  border-radius: 10px 10px 0 0;
  overflow: auto;
}

.card__img {
  background-image: url('uvodni.jpg');
  background-size: cover;
  background-position: center;
  height: 13rem;
  width: 100%;
}

.card__text {
  background-color: #283e50;
  padding: 2rem;
}

h1 {
  font-family: 'Lobster', 'cursive';
  font-size: 50px;
  line-height: 50px;
  font-weight: 100;
  margin: 0;
}

.card__button {
  padding: 1rem;
  cursor: pointer;
}

.card__button a {
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.card__button--rules {
  background-color: var(--green-color);
}

.card__button--rules:hover,
.card__button--rules:focus {
  background-color: var(--gren-color-hover);
}

.card__button--play {
  border-top: 1px solid black;
  background-color: var(--blue-color);
}

.card__button--play:hover,
.card__button--play:focus {
  background-color: var(--blue-color-hover);
}

.rules {
  max-width: 20rem;
}

.rules__list {
  text-align: left;
  margin: 3rem 0 2rem 0;
}

.rules__list li {
  margin-bottom: 0.5rem;
}

.rules__images figure {
  margin: 2rem 0;
  text-align: center;
}

.rules__image {
  width: 100%;
}

figcaption {
  font-style: italic;
  line-height: 100%;
  color: rgb(223, 223, 223);
}

.text-icon {
  height: 1em;
  filter: invert(1);
}

.game {
  max-width: 80vmin;
}

.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.7rem;
}

.game-header__turn span {
  margin-right: 0.5rem;
  font-weight: bold;
  font-size: 1.3rem;
}

.turn-icon {
  font-size: 1.1rem;
}

.game-header__button {
  height: 2rem;
  padding: 0.5rem;
  border-radius: 2px;
  cursor: pointer;
}

.game-header__button--home {
  background-color: var(--green-color);
}

.game-header__button--home:hover,
.game-header__button--home:focus {
  background-color: var(--gren-color-hover);
}

.game-header__button--restart {
  background-color: var(--blue-color);
}

.game-header__button--restart:hover,
.game-header__button--restart:focus {
  background-color: var(--blue-color-hover);
}

.game-pad {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 2px 13px -1px rgba(74, 74, 74, 0.75);
  border: 1px solid rgb(73, 73, 73);
}

.game-pad button {
  width: calc(100% / 10);
  aspect-ratio: 1 / 1;
  background-color: rgba(246, 246, 246, 0.355);
  border: 1px solid rgb(73, 73, 73);
  cursor: pointer;
  background-size: 10%;
}

.game-pad button:hover,
.game-pad button:focus {
  background-color: rgba(255, 255, 255, 0.605);
}

.game-pad button:active {
  border: 2px solid rgb(46, 46, 46);
  border-radius: 5px;
  outline: 1px solid white;
  transition: all 0.1s ease;
}

button.board__field {
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-size 0.15s ease;
}

.board__field--circle {
  background-image: url('pravidla_images/circle.svg');
}

.board__field--cross {
  background-image: url('pravidla_images/cross.svg');
}

@media (min-width: 768px) {
  .rules {
    max-width: 80vw;
  }

  .rules__list {
    margin-bottom: 1rem;
  }

  .rules__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .rules__images figure {
    width: 47%;
    margin: 1rem 0;
  }
}

@media (min-width: 1200px) {
  .rules {
    max-width: 50vw;
  }
}
