* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(#615dad, #ffc8da);
  background-attachment: fixed;
  color: white;
  font-size: 15px;
  font-family: sans-serif;
  line-height: 25px;
}

main {
  display: flex;
  justify-content: center;
}

.card {
  text-align: center;
  max-width: 22rem;
  margin: 2rem 0 3rem 0;
}

.card__img {
  background-image: url('uvodni.jpg');
  background-size: cover;
  background-position: center;
  height: 13rem;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.card__text {
  background-color: #283e50;
  padding: 1rem;
}

.card__text h1 {
  font-family: 'Lobster', 'cursive';
  font-size: 50px;
  font-weight: 100;
}

.card__button {
  padding: 1rem;
  cursor: pointer;
}

.card__button a {
  text-decoration: none;
  color: #ffffff;
}

.rules-button {
  background-color: #1fcca4;
}

.rules-button:hover {
  background-color: #1cbb96;
}

.play-button {
  border-top: 1px solid black;
  background-color: #0197f6;
}

.play-button:hover {
  background-color: #0090e9;
}
